<ion-view class="banner">
    <ion-slide-box active-slide="data.acriveSlide">
		<ion-slide>
	    	<ion-content class="content">
				<h1>Page 1</h1>
			</ion-content>
	  	</ion-slide>
	  	<ion-slide>
	    	<ion-content class="content">
				<h1>Page 2</h1>
			</ion-content>
	  	</ion-slide>
	  	<ion-slide>
			<ion-content class="content">
				<h1>Page 3</h1>
				<button class="button button-small button-clear button-calm" ng-click="showSignin()">
					我有账号，去登陆
				</button>
				<button class="button button-small button-clear button-calm" ng-click="showSignup()">
					我还没有账号，去注册
				</button>
			</ion-content>
	  	</ion-slide>
	</ion-slide-box>
</ion-view>