<ion-view view-title="个人信息">
	<ion-nav-bar class="bar-stable">
		<ion-nav-buttons side="primary">
		    <a class="button button-clear" nav-direction="back" href="#/mainboard/me">  
				<i class="ion-chevron-left"></i>
				返回
			</a>
	    </ion-nav-buttons>
    </ion-nav-bar>
	<ion-content>
		<div class="list card">
			<div class="item item-avatar">
		    	<img src="http://182.92.118.63:8080/avatar.jpg">
		    	<h2>刘振</h2>
		    	<p>用户名：victorscy</p>
		  	</div>

		  	<div class="item item-image">
		    	<img src="http://182.92.118.63:8080/bg01.jpg">
		  	</div>
		</div>
	</ion-content>
</ion-view>