<ion-view>
    <ion-content class="signin">
		<div class="padding">
			<div class="list">
				<h1>Fun Choice</h1>
				<div class="item item-input-inset">
				    <label class="item-input-wrapper">
				      	<input type="tel" placeholder="手机">
				    </label>
				</div>
				<div class="item item-input-inset">
				    <label class="item-input-wrapper">
				      	<input type="password" placeholder="密码">
				    </label>
				</div>
			</div>
			<button class="button button-block button-calm circle" ng-click="showMainBoard()">
				登陆
			</button>
			<button class="button button-small button-clear button-calm" ng-click="showSignup()">
				我还没有账号，去注册
			</button>
		</div>
	</ion-content>
</ion-view>